<% var data = {
  title: "Заголовок | Проект",
  author: "codmonkdev"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="main">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item "><a href="https://coreui.io/docs/">Docs</a></li>
    </ol>
  </nav>
  <div class="container-fluid">

    <div id="ui-view">
      <div>
        <div class="animated fadeIn">
          <div id="card_to_map" class="card">
            <div id="card_to_map_body" class="card-body">
              <div id="map-holder"></div>
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
  </div>


  </div>
</main>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>