html,
body,
div {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .5px;
}

path.active {
  fill: green;
}

 
circle {
  /* fill: #fff;
  fill-opacity: 0.9;
  fill: auto;*/
  stroke: #111;
}


circle.active {
  stroke: #0A98F5;
  stroke-width: 5px;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: burlywood;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}